{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
  var autoUpdate = 0;

  function getNextIdx() {
        $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/get_next_idx/",
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                $('#idx').text(data.value);
                if ( autoUpdate == 1 ) {
			//getNextIdx();
			var interval = parseInt($('input[name="updateInterval"]').val(), 10);
			setTimeout(getNextIdx, interval );
                }
            }
        });
   } 

  function resetIdx() {
        $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/reset_idx/",
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                $('#idx').text(data.value);
            }
        });
   } 

   function setAutoUpdate(_autoUpdate) {
	autoUpdate = _autoUpdate;
	if ( autoUpdate == 1) {
		getNextIdx();
	}
   }
</script>
<strong>Enter update interval (ms):</strong>
<input type="text" size="10" id="updateInterval" name="updateInterval" value="1000">
<button onclick="setAutoUpdate(1);">Start idx loop </button>
<button onclick="setAutoUpdate(0);">Stop idx loop </button>
<button onclick="getNextIdx();">Get next idx </button>
<button onclick="resetIdx();">Reset idx</button>
<strong><div id="idx"></div></strong>
{% endblock %}
